*{
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
}
hr{
	border: 1px dashed #000;
}
h1{
	padding: 1em;
	font-size: 22px;
}
#content {
	margin: 0 auto;
	width: 75%;
	text-align: center;
	min-height: 60%;
}
.steps{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav{

	display: inline;
}
	nav li{
		display: inline;
	}

		nav li a{
			background-color: black;
			color: white;
			padding: 1em;
			-webkit-border-radius: .5em;
			-moz-border-radius: .5em;
			border-radius: .5em;
			text-decoration: none;

		}

			nav li a:hover{
				background-color: #22ae22;
				color: white;
				padding: 1em;
				-webkit-border-radius: .5em;
				-moz-border-radius: .5em;
				border-radius: .5em;
				text-decoration: none;

			}

#results {
	margin: 2em auto;
	width: 90%; min-height: 15em;
	background-color: #000;
	color: #22ae22;
	padding: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 5px 5px 5px #000;
	-moz-box-shadow: 5px 5px 5px #000;
	box-shadow: 5px 5px 5px #000;
}

#results h3 {color: white;}

footer{
	margin: 1em;
}

#box1,#box2,#box3{
	float: left;
	margin: 0em 1.5em 0em 2em;
}